<mat-toolbar >
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Youtube</span>
  
  <span class="toolbar-spacer"></span>

  <div class="search-bar">
    <input type="text">
    <mat-icon>search</mat-icon>
    <mat-icon>mic</mat-icon>
  </div>

  <span class="toolbar-spacer"></span>

  <div class="user-actions">
    <mat-icon>notifications</mat-icon>
    <mat-icon>account_circle</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav #nav opened  mode="side">
    <a routerLink='home'>
      <button mat-icon-button>
        <mat-icon>home</mat-icon> 
        <span>Home</span>
      </button>
    </a>

    <a routerLink='shorts'>
      <button mat-icon-button>
        <mat-icon>shorts</mat-icon> 
        <span>Shorts</span>
      </button>
    </a>

    <a routerLink='subscriptions'>
      <button mat-icon-button>
        <mat-icon>subscriptions</mat-icon> 
        <span>Subscriptions</span>
      </button>
    </a>

    <a routerLink='history'>
      <button mat-icon-button>
        <mat-icon>history</mat-icon> 
        <span>History</span>
      </button>
    </a>

    <a routerLink='playlist'>
      <button mat-icon-button>
        <mat-icon>playlist_play</mat-icon> 
        <span>PlayList</span>
      </button>
    </a>

    <a routerLink='watchlater'>
      <button mat-icon-button>
        <mat-icon>watch_later</mat-icon> 
        <span>WatchLater</span>
      </button>
    </a>

    <a routerLink='likedvideos'>
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon> 
        <span>LikedVideos</span>
      </button>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>